/* TAILWIND */
@import "tailwindcss";


/* BASE STYLES */
@layer base {
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
}


/* CUSTOM STYLING */
.navlinks a:hover,
.doc-tags:hover {
  transition: 200ms;
  translate: 0px -1px;
  color: var(--color-green-700)
}

.open-btn:hover {
  transition: 200ms;
  translate: 0px -1px;
  background-color: var(--color-gray-50);
}