/* TAILWIND */
@import "tailwindcss";


/* BASE STYLES */
@layer base {
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
}



/* ICONS */
.svg-icon,
.logo-icon {
  display: block;
  background-color: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
 
.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-icon:hover {
  translate: 0px -1px;
}

/* NAVBAR */
.navlinks a {
  transition: color 200ms ease;
}

/* SECTIONS */
section {
  width: 1280px;
  max-width: 90%;
  
  margin: 0 auto;
}

/* CARDS */
.card {
  width: 100%;
  min-height: 10rem;
  padding: 1rem;

  border-radius: 0.5rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  box-sizing: border-box;
}

.card:hover {
  transition: 200ms;
  translate: 0px -1px;
}

.open-btn:hover {
  transition: 200ms;
  translate: 0px -1px;
  background-color: var(--color-gray-50);
}