/* TAILWIND */
@import "tailwindcss";


/* BASE STYLES */
@layer base {
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
}


/* CUSTOM STYLING */
.navlinks a:hover {
    transition: 100ms;
    transform: scale(1.02);
    color: rgb(39, 89, 255)
}